.achievements__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 14px;
    border-radius: 16px;
    background: var(--mc-achievementBg);
    margin-bottom: 15px;
    &-left {
        max-width: 69px;
        border-radius: 16px;
        margin-right: 14px;
    }
    &-img {
        width: 100%;
    }
    &-desc {
        margin: 0;
    }
    &-name {
        margin: 5px 0 8px;
    }
}